
body{
  font-family: 'Montserrat-black', sans-serif;
  text-align: center;
}

h1,h2,h3{
  font-family: 'Montserrat-Bold', sans-serif;
  font-weight: 900;
}

p{
  color: #8f8f8f;
}

/* containers */
.container-fluid{
  padding: 7% 15%
}
#title .container-fluid{ /*need space between selector  */
 padding: 3% 15% 7%;
 text-align: left;
}

/* sections */
.color-section{
  background-color: #ff4c68;
  color: #fff;
}
.white-section{
  background-color: #fff;
}

/* Headings */
.big-heading{
  font-family: 'Montserrat-black', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;

}
.section-title{
  font-size: 3rem;
  line-height: 1.5;
}


/* navigation bar */
.navbar{
  padding:0 0 4.5rem;
}
.navbar-brand{
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 2rem;
}
.nav-link{
  font-size: 1.2rem;
font-weight: 300;
}

/* Download button */
.download-button{
  margin: 5% 3% 5% 0;
}
/* title image */
.dog{
  transform: rotate(25deg);
  width: 60%;
  margin-left: 50px;
  position: absolute;
  right: 30%;
}

/* features */
#features{
  position: relative;
  z-index: 3;
}
.feature-title{
  font-size: 1.5rem;
  font-weight: 600;
}

.icon{
  color: #ef8172;
  margin-bottom: 1rem;
}
.icon:hover{
  color: #ff4c68;
}

.features-box{
  padding: 4%;
}

/* testimonials */
#testimonials{
  background-color: #ef8172;
}

.testimonials-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
#press{
  background-color: #ef8172;
  margin-bottom: 3%;

}
.press-logo{
  width: 15%;
  margin:20px 20px 50px;
}

/* Pricing */
#pricing{
  padding: 100px;

}
.pricing-column{
  padding: 3% 2%;
}
.price-text{
  font-size: 3rem;
  line-height: 1.5;
}

/* cta */

/* fotter */
.footer-logo{
  margin: 2% 1%;
}

/* media query */
@media (max-width: 990px) {
.dog{
  position: static;
  transform: none;
  width: 60%;
}
